@font-face {
    font-family: "Merry Xmas";
    src: url('fonts/merry_xmas/Merry\ Xmas.ttf') format('truetype');
    font-display: swap;
}

:root {
    --color-1: #386641;
    --color2: #6a994e;
    --color3: #a7c957;
    --color4: #ffffff;
    --color5: #bc4749;

    /* Basic Colors */
    --site-name-color: #008800;
    --site-background: #c9edff;
    --hr-color: #fddfb6;
    --link-color: #922a28;
    --text-color: #000000;
    --nav-bar-color: #0bc285;
    --nav-btn-color: #00000099;
    --nav-link-hover-color: #02d890;
    --nav-link-active: #000000;
    --table-bands: #c8fff8;
    --table-bands-txt: #000000;
    
    
    /* Admin Buttons */
    --button-confirm-bkg: #0afb60;
    --button-confirm-txt: #000000;
    --button-cancel-bkg: #fefefe;
    --button-cancel-txt: #000000;
    --danger-btn: #ff0000;
    --upload-btn-bkg: #1aab54;
    --upload-btn-txt: #ffffff;

    /* User Facing Buttons */
    --button-bkg-color: #ff4659;
    --button-txt-color: #ffffff;
    --button-convert-bkg: #f8be11;
    --button-convert-txt: #000000;

    /* cards */
    --card-title-bkg: #ff4759;
    --card-title-color: #ffffff;
    --card-bkg-color: var(
    --color4);
    --button-card-color: #33cdff;
    --button-card-txt-color: #ffffff;
    --card-link-color: #922a28;
    --card-text-color: #000000;

    /* Event Alert */
    --shim: #392238bb;
    --ea-bkg: #000000;
    --ea-border: var(
    --button-txt-color);

    /* FoodTrucks */
    --chip-bkg: #ff4659;
    --chip-txt: #ffffff;
    --chip-border: #00000000;
    --chip-border-hover: var(
    --site-name-color);
    --ft-section-color: #008800;
    --ft-bkg: #008800;
    --ft-txt: #ffffff;

    /* Team Page */
    --team-card-bkg: #ff4759;
    --team-card-txt: #ffffff;

    /* Admin Cards */
    --admin-card-bkg: #ffffff;
    --admin-card-txt: #000000;

    /* Install Prompt Style */
    --install-prompt-bkg: #0bc285;
    --install-prompt-txt: #000000;
    --install-prompt-shadow: #d33f3c;

    /* Sys Msg */
    --sys-msg-bkg: #00f24e;
    --sys-msg-txt: #000000;
    --sys-msg-border: purple;
    --sys-err-bkg: #ff4444;
    --sys-err-txt: #000000;

    --shortcuts-color: var(--card-title-bkg);
}
#logo {
    padding-top: 15px;
    margin: 0;
}
#logo a {
    font-family:  'Merry Xmas', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: clamp(30px, 1rem, 50px);
    padding: 10px 5px 0 5px;
}
.section-title {
    font-family: 'Merry Xmas', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    color: var(--site-name-color);
    font-size: 23px;
}
#nativeInstallPrompt p,
#iOSInstallPrompt p {
    font-weight: 700;
    letter-spacing: .8px;
}
.tab {
    font-weight: 700;
}
.btn {
    font-weight: 700;
}
#shortcuts a {
    font-weight: 700;
}
.grid-items span {
    color: #fff;
}
#event-head {
    margin: 0;
    padding: 1rem;
    background-color: var(--card-title-bkg);
    color: var(--card-title-color);
    flex: none;
}
body {
    border: 8px solid #c62222;
    border-image: repeating-linear-gradient( 45deg, #ff253a, #ff253a 20px, white 20px, white 40px ) 20;
}
